 <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container" >
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">멋쟁이 사자처럼 4기</a>
          
<div class="fb-like" data-href="https://www.facebook.com/likelion.yu/" data-layout="button_count" data-action="like" data-show-faces="true" data-share="true"></div>
<div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ko_KR/sdk.js#xfbml=1&version=v2.5";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right ">
        		<li><a href="#section-home"  class="arctic_scroll"><div>HOME</div></a></li>
        		<li><a href="#section-about" class="arctic_scroll"><div>ABOUT</div></a></li>
        		<li><a href="#section-reviews" class="arctic_scroll"><div>REVIEWS</div></a></li>

        		<li><a href="#section-apply" class="arctic_scroll"><div>APPLY</div></a></li>
        	</ul>
        </div><!--/.navbar-collapse -->
   </div>
    </nav>
<!-- ////////////// 메뉴 ///////////// -->

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron" id="section-home" style="margin-bottom: 0px; height: 600px; background-image:url(<%=asset_path "wa.png"%>);   background-size: contain; border: solid 2px; background-position: top center;  background-attachment: fixed;" >
      <div class="container" >
        <br><br><br>
        <h1>멋쟁이 사자처럼 4TH</h1>
        <br>
        <h1>영남대학교 </h1>
        <br><br><br>
         <p><a class="myButton" href="#section-apply" class="arctic_scroll" role="button">A&nbsp;P&nbsp;P&nbsp;L&nbsp;Y</a></p>
         
      </div>
    </div>
    
<!-- ////////////// home ///////////// -->


    <div id="section-about" >
       <div class="about" style=" height: 300px;  background-image:url(<%=asset_path "ab.png"%>); background-size: cover;background-position: 0px -100px;" >
         <br><br><br>
         <p>A&nbsp;&nbsp;B&nbsp;&nbsp;O&nbsp;&nbsp;U&nbsp;&nbsp;T</p><p style="font-size: 20px; font-weight: 500;" >멋쟁이 사자처럼 소개</p>
        </div>
      <!-- Example row of columns -->
      <br><br><br>
      <div class="text">
        <p>대학생들이</p>
        <p> 내가 만들고 싶은 IT 서비스를</p>
        <br><br>
        <p>직접 배워서  </p>
        <br><br>
        <p>직접 만듭니다.</p>
      </div>
      
      
      <div class="row">
        <div class="col-md-4" style="text-align: center;">
          <img alt="study" src="/assets/study.png" />
          <br>
          <h3 class="study" >STUDY</h3>
        
          <p>HTML/CSS 부터  JQuery와 같은 프론트 앤드 기술과 <br> ruby/rails와 같은  Web Framework를 공부합니다.</p>
          
        </div>
        <div class="col-md-4" style="text-align: center;">
          <img alt="service" src="/assets/service.png" /><br>
          <h3 class="service">SERVICE</h3>
          <p>평소에 "이런 서비스를 꼭 만들어 보고 싶었다." 라고 <br>생각했던 것들을 본인이 직접 구현합니다.</p>
          
       </div>
        <div class="col-md-4" style="text-align: center;">
          <img alt="network" src="/assets/network.png" /><br>
          <h3 class="network">NETWORK</h3>
          <p>나와 비슷한 생각을 가진 대학교 <br>친구들을 만날 수 있습니다.</p>
          
        </div>
      </div>
    </div>
      <!-- ////////////// about ///////////// -->

      <br>
    <div id="section-reviews" style=" background-color:black;">
      <br><br><br>
      <h1 style="   text-align: center; 
    color: white; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 700; 
    font-size: 45px; 
    margin-bottom: 0px;">2015 like lion 3기 </h1><br><br>
      <table class="image">
        <tr>
          <th><img class="at"alt="web" src="/assets/code.jpg" /></td>
          <th><img class="at"alt="web" src="/assets/code3.png" /></td>
          <th><img class="at" alt="web" src="/assets/code2.png" /></td>
        </tr>
        <tr>
          <th><img class="at" alt="web" src="/assets/memo.jpg"/></td>
          <th><img class="at" alt="web" src="/assets/photo2.jpg"/></td>
          <th><img class="at" alt="web" src="/assets/harubang.png"/></td>
        </tr>
        <tr>
          <th><img class="at" alt="web" src="/assets/likelion-black.png"/></td>
          <th><img class="at" alt="web" src="/assets/likelion-white.png"/></td>
          <th><img class="at" alt="web" src="/assets/li.png"/></td>
        </tr>
      </table>
      <br> <br><br>
    </div>
   
   
    <div id="section-apply">

      <h1  style="text-align:center;" >A&nbsp;&nbsp;P&nbsp;&nbsp;P&nbsp;&nbsp;L&nbsp;&nbsp;Y</h1>
      <div class="container">
      <div class="jumbotron" style="background-color: white;">

      
        
        
        <h2>신청기간</h2>
        <p>2016년 3월 x일 ~ xx일</p><br><br>
        
        <h2>활동기간</h2>
        <p>2016년 4월 x일 ~ 원하는 대로</p> <br><br>
       
        <h2>지원대상</h2>
        <p>영남대학교 학생 누구나
        <p>(코딩에 관심이 있고 열정이 있는)</p><br><br>
        
        <h2>지원방법</h2>
        <p>sbm1992@naver.com 으로 자기소개서가 첨부된 메일을 보내주세요</p><br><br>
        
        <h2>지원서 작성요령</h2>
        <p>자기소개서(Pdf로 제출, 양식 자유)</p>
        <p>내용은 지원 동기, 만들고 싶은 프로그램</p>
        <p>필수사항은 이름, 연락처, 학과</p><br><br>
        
        <h2>참고사항</h2>
        <p>비전공자, 전공자 상관 無, 노트북 필수!!</p>
        <p>(코딩을 하는데 컴퓨터가 없으면 안되고 스터디를 하는데 PC방에서 할 수는 없으니까…)</p><br><br>
        
        <h2>문의사항</h2>
        <p>sbm1992@naver.com 으로 메일 보내주세요</p><br>
        
       <h4>P.S. 상단 바에 있는 링크에 멋쟁이 사자처럼 4기 페이스북 페이지 좋아요 눌러주세요^^</h4><br>
       
        
        <h3>If you want to find a way, you must choose LikeLion. </h2>
        <h3>Because it is not solution, but light of our way.</h2>
        
       
      </div>
      </div>
    </div>
      <br>

      <footer>
       
      </footer>
      

      <script>
$(function(){
    $(".arctic_scroll").arctic_scroll({
        speed: 800
    });
});
    </script>