// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.image{
   margin: auto;
}
.image img{

    width: 350px; 
    height: 250px;
    margin-left: 10px;
    margin-top: 10px;
}
.text p{
    text-align: center; 
    color: #404040; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 700; 
    font-size: 45px; 
    margin-bottom: 0px;
}
.container h1  {
    color:white; 
    text-align:center;
}
.about p{
   text-align: center; 
    color: white; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 700; 
    font-size: 45px; 
    margin-bottom: 0px;
}
.bt{
    width: 150px; 
    height: 150px;
    border-radius: 100%;
    border: 10px solid #c8c8c8;
    margin-top: 10px;
}
.study {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    width: auto;
    background: none;
}

.study:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #e96656;
    bottom: -9px;
    left: 12.5%;
}
.service {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    width: auto;
    background: none;
}

.service:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #34d293;
    bottom: -9px;
    left: 12.5%;
}
.network {
    margin-bottom: 15px;
    color: #404040;
    position: relative;
    display: inline-block;
    text-transform: uppercase;
    margin-bottom: 30px;
    font-weight: bold;
    width: auto;
    background: none;
}

.network:before {
    position: absolute;
    margin: auto;
    z-index: 1;
    content: "";
    width: 75%;
    height: 2px;
    background: #f7d861;
    bottom: -9px;
    left: 12.5%;
}


.fb-like {
    margin-top: 15px;
}
.at {
   border: 5px solid #c8c8c8;
   border-radius: 15px;
   -moz-border-radius: 15px;
   -webkit-border-radius: 15px;
   -o-border-radius: 15px;
    width: 400px; 
    height: 300px;
}

#section-apply h1{
    text-align: center; 
    color: black; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 900; 
    font-size: 50px; 
    margin-bottom: 0px;
}
.jumbotron h2{
    text-align: center; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 800; 
    font-size: 35px; 
    margin: auto;
}
.jumbotron p{
    text-align: center; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 500; 
    font-size: 20px; 
     margin: auto;
}
.jumbotron h3{
    text-align: center; 
    color: red; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 600; 
    font-size: 35px; 
    margin-bottom: 0px;
    
}
.jumbotron h4{
    text-align: center; 
    font-family: 'Montserrat', 'sans-serif'; 
    font-weight: 600; 
    font-size: 15px; 
    margin-bottom: 0px;
    
}



.myButton {
	-moz-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	-webkit-box-shadow:inset 0px 1px 0px 0px #fce2c1;
	box-shadow:inset 0px 1px 0px 0px #fce2c1;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffc477), color-stop(1, #fb9e25));
	background:-moz-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-webkit-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-o-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:-ms-linear-gradient(top, #ffc477 5%, #fb9e25 100%);
	background:linear-gradient(to bottom, #ffc477 5%, #fb9e25 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fb9e25', endColorstr='#ffc477',GradientType=0);
	background-color:#ffc477;
	-moz-border-radius:11px;
	-webkit-border-radius:11px;
	border-radius:11px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Georgia;
	font-size:23px;
	font-weight:bold;
	padding:6px 21px;
	text-decoration:none;
	text-shadow:2px 1px 0px gray;
}
.myButton:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #fb9e25), color-stop(1, #ffc477));
	background:-moz-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-webkit-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-o-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:-ms-linear-gradient(top, #fb9e25 5%, #ffc477 100%);
	background:linear-gradient(to bottom, #fb9e25 5%, #ffc477 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffc477', endColorstr='#fb9e25',GradientType=0);
	background-color:#fb9e25;
}
.myButton:active {
	position:relative;
	top:1px;
}



        